<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AUTPAPO_TESTE"
        tools:targetApi="31">
        <activity
            android:name=".Tela_Atv2_fase2"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv8_fase2"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv7_fase2"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv4_fase2"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv3_fase2"
            android:exported="false" />
        <activity
            android:name=".Tela_Finalizacao_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv5_fase1"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv1_fase2"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv4_fase1"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv3_fase1"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv2_fase1"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv7_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv5_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv4_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv3_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv2_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv6_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv_1_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_Atv1_fase1"
            android:exported="false" />
        <activity
            android:name=".Tela_Fase1"
            android:exported="false" />
        <activity
            android:name=".Tela_Ajuda"
            android:exported="false" />
        <activity
            android:name=".Tela_Sobre"
            android:exported="false" />
        <activity
            android:name=".Tela_Config"
            android:exported="false" />
        <activity
            android:name=".Tela_fase3"
            android:exported="false" />
        <activity
            android:name=".Tela_fase2"
            android:exported="false" />
        <activity
            android:name=".tela_home_visitante"
            android:exported="false" />
        <activity
            android:name=".video"
            android:exported="false" />
        <activity
            android:name=".Tela_Conta"
            android:exported="false" />
        <activity
            android:name=".Tela_Home"
            android:exported="false" />
        <activity
            android:name=".Tela_Login"
            android:exported="false" />
        <activity
            android:name=".Tela_CriarConta"
            android:exported="false" />
        <activity
            android:name=".Carregamento"
            android:exported="false" />
        <activity
            android:name=".Tela_Explicacao1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>